
body {
    background:dimgrey
}

button {
    margin-bottom: 20px;
    margin-left: 20px;
    background: auto;
    border-radius: 15px;
    border-style: outset;
    border-color: rgba(97, 94, 94, 0.13);
    padding: 10px;
    color:rgb(156, 212, 203)
}

input {
    margin: 0px;
    margin-top: 0px;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    margin: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-right: 10px;
    color:rgb(156, 212, 203);
}

div {
    border: 1px solid rgb(156, 212, 203);
    max-width: 150px;
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.labels {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: start;
}
  